In [1]:
import pandas as pd
import csv

In [2]:
df1 = pd.read_csv("/Users/anna/Documents/VisualizingSolarPanels/openpv_all.csv", low_memory=False)

In [3]:
df2 = df1['zipcode']

In [4]:
with open('zipcodes.csv', 'w') as csvfile:
    filewriter = csv.writer(csvfile, delimiter=',',
                            quotechar='|', quoting=csv.QUOTE_MINIMAL)
    for i in df2:
        filewriter.writerow([i])

In [5]:
df2 = pd.read_csv('zipcodes.csv', low_memory=False)
df3 = df2.dropna()

In [6]:
#print(df3.head(30))

In [7]:
df1.dropna(subset=['zipcode'])
df1.to_csv('/Users/anna/Documents/VisualizingSolarPanels/openpv_all.csv')

In [8]:
zipdict = {
    "00000": 0,
}

In [9]:
df3["78702.0"].value_counts()

92064.0    2845
92028.0    2528
92127.0    2401
92040.0    2092
94550.0    1847
92009.0    1747
92024.0    1736
92019.0    1717
92021.0    1694
93727.0    1680
92065.0    1609
85374.0    1558
92129.0    1539
91941.0    1515
92026.0    1503
92027.0    1484
91739.0    1472
92109.0    1426
91709.0    1408
93722.0    1407
93720.0    1402
92082.0    1396
92117.0    1377
92084.0    1369
91710.0    1368
92020.0    1351
92025.0    1349
92126.0    1345
92128.0    1327
94022.0    1289
           ...
60119.0       1
45250.0       1
77710.0       1
214.0         1
2828.0        1
77713.0       1
4858.0        1
77627.0       1
45315.0       1
45380.0       1
45356.0       1
45377.0       1
2836.0        1
60145.0       1
60143.0       1
77447.0       1
60142.0       1
45363.0       1
54632.0       1
19376.0       1
45318.0       1
77507.0       1
45335.0       1
60135.0       1
2833.0        1
77575.0       1
3305.0        1
4851.0        1
15031.0       1
84337.0       1
Name: 78702.0, Length: 13151, dtype: int64

In [10]:
df4 = df3["78702.0"].value_counts().to_frame().reset_index()

In [11]:
df4

         index  78702.0
0      92064.0     2845
1      92028.0     2528
2      92127.0     2401
3      92040.0     2092
4      94550.0     1847
5      92009.0     1747
6      92024.0     1736
7      92019.0     1717
8      92021.0     1694
9      93727.0     1680
10     92065.0     1609
11     85374.0     1558
12     92129.0     1539
13     91941.0     1515
14     92026.0     1503
15     92027.0     1484
16     91739.0     1472
17     92109.0     1426
18     91709.0     1408
19     93722.0     1407
20     93720.0     1402
21     92082.0     1396
22     92117.0     1377
23     92084.0     1369
24     91710.0     1368
25     92020.0     1351
26     92025.0     1349
27     92126.0     1345
28     92128.0     1327
29     94022.0     1289
...        ...      ...
13121  60119.0        1
13122  45250.0        1
13123  77710.0        1
13124    214.0        1
13125   2828.0        1
13126  77713.0        1
13127   4858.0        1
13128  77627.0        1
13129  45315.0        1
13130  45380.0        1
13131  45356.0        1
13132  45377.0        1
13133   2836.0        1
13134  60145.0        1
13135  60143.0        1
13136  77447.0        1
13137  60142.0        1
13138  45363.0        1
13139  54632.0        1
13140  19376.0        1
13141  45318.0        1
13142  77507.0        1
13143  45335.0        1
13144  60135.0        1
13145   2833.0        1
13146  77575.0        1
13147   3305.0        1
13148   4851.0        1
13149  15031.0        1
13150  84337.0        1

[13151 rows x 2 columns]

In [12]:
df4.index.name = 'index'

In [13]:
df4 = df4.rename(columns= {'index': 'zipcode', '78702.0':'count'})

In [14]:
zipcodeCountMean = df4['count'].mean()
print(zipcodeCountMean)

40.06661090411376

In [16]:
df4["Zip Mean"] = zipcodeCountMean

In [18]:
df4["StanDevStepOne"] = (df4["count"] - df4["Zip Mean"])**2

In [19]:
StanDevStepTwo = df4["StanDevStepOne"].mean();
print(StanDevStepTwo)
StanDevStepThree = StanDevStepTwo**0.5
print(StanDevStepThree)

15142.890095722883
123.0564508496929

In [20]:
df4["Standard Deviation"] = StanDevStepThree

In [21]:
df4["z score"] = (df4["count"] - df4["Zip Mean"])/df4["Standard Deviation"]

In [22]:
df4.drop("StanDevStepOne", axis = 1)

       zipcode  count   Zip Mean  Standard Deviation    z score
index
0      92064.0   2845  40.066611          123.056451  22.793875
1      92028.0   2528  40.066611          123.056451  20.217822
2      92127.0   2401  40.066611          123.056451  19.185775
3      92040.0   2092  40.066611          123.056451  16.674732
4      94550.0   1847  40.066611          123.056451  14.683776
5      92009.0   1747  40.066611          123.056451  13.871141
6      92024.0   1736  40.066611          123.056451  13.781751
7      92019.0   1717  40.066611          123.056451  13.627351
8      92021.0   1694  40.066611          123.056451  13.440444
9      93727.0   1680  40.066611          123.056451  13.326676
10     92065.0   1609  40.066611          123.056451  12.749705
11     85374.0   1558  40.066611          123.056451  12.335261
12     92129.0   1539  40.066611          123.056451  12.180860
13     91941.0   1515  40.066611          123.056451  11.985827
14     92026.0   1503  40.066611          123.056451  11.888311
15     92027.0   1484  40.066611          123.056451  11.733911
16     91739.0   1472  40.066611          123.056451  11.636394
17     92109.0   1426  40.066611          123.056451  11.262582
18     91709.0   1408  40.066611          123.056451  11.116308
19     93722.0   1407  40.066611          123.056451  11.108181
20     93720.0   1402  40.066611          123.056451  11.067550
21     92082.0   1396  40.066611          123.056451  11.018792
22     92117.0   1377  40.066611          123.056451  10.864391
23     92084.0   1369  40.066611          123.056451  10.799380
24     91710.0   1368  40.066611          123.056451  10.791254
25     92020.0   1351  40.066611          123.056451  10.653106
26     92025.0   1349  40.066611          123.056451  10.636853
27     92126.0   1345  40.066611          123.056451  10.604348
28     92128.0   1327  40.066611          123.056451  10.458073
29     94022.0   1289  40.066611          123.056451  10.149272
...        ...    ...        ...                 ...        ...
13121  60119.0      1  40.066611          123.056451  -0.317469
13122  45250.0      1  40.066611          123.056451  -0.317469
13123  77710.0      1  40.066611          123.056451  -0.317469
13124    214.0      1  40.066611          123.056451  -0.317469
13125   2828.0      1  40.066611          123.056451  -0.317469
13126  77713.0      1  40.066611          123.056451  -0.317469
13127   4858.0      1  40.066611          123.056451  -0.317469
13128  77627.0      1  40.066611          123.056451  -0.317469
13129  45315.0      1  40.066611          123.056451  -0.317469
13130  45380.0      1  40.066611          123.056451  -0.317469
13131  45356.0      1  40.066611          123.056451  -0.317469
13132  45377.0      1  40.066611          123.056451  -0.317469
13133   2836.0      1  40.066611          123.056451  -0.317469
13134  60145.0      1  40.066611          123.056451  -0.317469
13135  60143.0      1  40.066611          123.056451  -0.317469
13136  77447.0      1  40.066611          123.056451  -0.317469
13137  60142.0      1  40.066611          123.056451  -0.317469
13138  45363.0      1  40.066611          123.056451  -0.317469
13139  54632.0      1  40.066611          123.056451  -0.317469
13140  19376.0      1  40.066611          123.056451  -0.317469
13141  45318.0      1  40.066611          123.056451  -0.317469
13142  77507.0      1  40.066611          123.056451  -0.317469
13143  45335.0      1  40.066611          123.056451  -0.317469
13144  60135.0      1  40.066611          123.056451  -0.317469
13145   2833.0      1  40.066611          123.056451  -0.317469
13146  77575.0      1  40.066611          123.056451  -0.317469
13147   3305.0      1  40.066611          123.056451  -0.317469
13148   4851.0      1  40.066611          123.056451  -0.317469
13149  15031.0      1  40.066611          123.056451  -0.317469
13150  84337.0      1  40.066611          123.056451  -0.317469

[13151 rows x 5 columns]

In [23]:
df_1 = pd.read_csv("/Users/anna/Documents/VisualizingSolarPanels/16zpallnoagi.csv", low_memory=False)

In [24]:
df_2 = df_1[["ZIPCODE", "A00100"]].copy()

In [25]:
df_2 = df_2.rename(columns= {'A00100':'Adj. Gross Income'})

In [26]:
df_2 = df_2.drop(df_2.index[0])

In [27]:
incomeCountMean = df_2['Adj. Gross Income'].mean()
df_2['Income Mean'] = incomeCountMean
df_2["StanDevStep_One"] = (df_2["Adj. Gross Income"] - df_2["Income Mean"])**2
df_2.head()

   ZIPCODE  Adj. Gross Income  Income Mean  StanDevStep_One
1    35004             287603  680148.1851     1.540917e+11
2    35005             120798  680148.1851     3.128726e+11
3    35006              57114  680148.1851     3.881716e+11
4    35007             689574  680148.1851     8.884599e+07
5    35010             380037  680148.1851     9.006672e+10

In [28]:
df_2 = df_2.rename(columns= {'ZIPCODE':'zipcode'})

In [30]:
df_f = pd.merge(df4, df_2, on ="zipcode")

df_f

r = (1/12215-1)*(df_f['z score_x']*df_f['z score_y']).sum()
r

In [31]:
df_f2 = df_f[['zipcode', 'count', 'Adj. Gross Income']].copy()

In [32]:
df_f2['Count Mean'] = df_f2['count'].mean()
df_f2['Income Mean'] = df_f2['Adj. Gross Income'].mean()

In [33]:
df_f2["SD1_Income"] = (df_f2["Adj. Gross Income"] - df_f2["Income Mean"])**2
df_f2["SD1_Count"] = (df_f2["count"] - df_f2["Count Mean"])**2

In [34]:
SD2_Income = df_f2["SD1_Income"].mean();
print(SD2_Income)
SD3_Income = SD2_Income**0.5
print(SD3_Income)
df_f2['Standard Deviation_I'] = SD2_Income

424045739644469.5
20592370.908772733

In [35]:
SD2_Count = df_f2["SD1_Count"].mean();
print(SD2_Count)
SD3_Count = SD2_Count**0.5
print(SD3_Count)
df_f2['Standard Deviation_C'] = SD3_Count

16188.49906242179
127.23403264229972

In [36]:
df_f2 = df_f2.drop(['SD1_Income', 'SD1_Count'], axis=1)

In [37]:
df_f2["z score_I"] = (df_f2["Adj. Gross Income"] - df_f2["Income Mean"])/df_f2["Standard Deviation_I"]
df_f2["z score_C"] = (df_f2["count"] - df_f2["Count Mean"])/df_f2["Standard Deviation_C"]

In [39]:
df_f2.drop(['Count Mean', 'Income Mean'], axis=1)

,zipcode,count,Adj. Gross Income,Standard Deviation_I,Standard Deviation_C,z score_I,z score_C
0,92064,2845,2551002,4.240457e+14,127.234033,2.691457e-09,22.023481
1,92028,2528,1500302,4.240457e+14,127.234033,2.136583e-10,19.532009
2,92127,2401,2980859,4.240457e+14,127.234033,3.705161e-09,18.533849
3,92040,2092,1287840,4.240457e+14,127.234033,-2.873772e-10,16.105253
4,94550,1847,2916540,4.240457e+14,127.234033,3.553482e-09,14.179668
5,92009,1747,2867188,4.240457e+14,127.234033,3.437098e-09,13.393714
6,92024,1736,3404727,4.240457e+14,127.234033,4.704742e-09,13.307260
7,92019,1717,1514944,4.240457e+14,127.234033,2.481876e-10,13.157929
8,92021,1694,1533075,4.240457e+14,127.234033,2.909448e-10,12.977159
9,93727,1680,1361439,4.240457e+14,127.234033,-1.138134e-10,12.867126
10,92065,1609,1267963,4.240457e+14,127.234033,-3.342519e-10,12.309099
11,85374,1558,1024177,4.240457e+14,127.234033,-9.091569e-10,11.908263
12,92129,1539,2452627,4.240457e+14,127.234033,2.459466e-09,11.758932
13,91941,1515,1284285,4.240457e+14,127.234033,-2.957608e-10,11.570303
14,92026,1503,1520424,4.240457e+14,127.234033,2.611108e-10,11.475989
15,92027,1484,1323665,4.240457e+14,127.234033,-2.028934e-10,11.326657
16,91739,1472,1795771,4.240457e+14,127.234033,9.104440e-10,11.232343
17,92109,1426,2079270,4.240457e+14,127.234033,1.579002e-09,10.870805
18,91709,1408,3079870,4.240457e+14,127.234033,3.938653e-09,10.729333
19,93722,1407,1609546,4.240457e+14,127.234033,4.712815e-10,10.721473
20,93720,1402,1749761,4.240457e+14,127.234033,8.019416e-10,10.682176
21,92082,1396,701740,4.240457e+14,127.234033,-1.669539e-09,10.635019
22,92117,1377,1832786,4.240457e+14,127.234033,9.977341e-10,10.485688
23,92084,1369,1289629,4.240457e+14,127.234033,-2.831584e-10,10.422811
24,91710,1368,2043114,4.240457e+14,127.234033,1.493737e-09,10.414952
25,92020,1351,1420552,4.240457e+14,127.234033,2.558899e-11,10.281340
26,92025,1349,1210777,4.240457e+14,127.234033,-4.691100e-10,10.265621
27,92126,1345,2386328,4.240457e+14,127.234033,2.303117e-09,10.234182
28,92128,1327,2362232,4.240457e+14,127.234033,2.246293e-09,10.092711
29,94022,1289,5438276,4.240457e+14,127.234033,9.500331e-09,9.794049
...,...,...,...,...,...,...,...
12185,45308,1,102187,4.240457e+14,127.234033,-3.083427e-09,-0.329029
12186,45307,1,4538,4.240457e+14,127.234033,-3.313706e-09,-0.329029
12187,77657,1,645364,4.240457e+14,127.234033,-1.802487e-09,-0.329029
12188,45304,1,180126,4.240457e+14,127.234033,-2.899628e-09,-0.329029
12189,4855,1,7571,4.240457e+14,127.234033,-3.306554e-09,-0.329029
12190,2831,1,178029,4.240457e+14,127.234033,-2.904574e-09,-0.329029
12191,45314,1,89859,4.240457e+14,127.234033,-3.112499e-09,-0.329029
12192,45252,1,218250,4.240457e+14,127.234033,-2.809723e-09,-0.329029
12193,60119,1,531634,4.240457e+14,127.234033,-2.070690e-09,-0.329029
12194,2828,1,300610,4.240457e+14,127.234033,-2.615499e-09,-0.329029
12195,77713,1,402833,4.240457e+14,127.234033,-2.374433e-09,-0.329029
12196,4858,1,40103,4.240457e+14,127.234033,-3.229836e-09,-0.329029
12197,77627,1,703751,4.240457e+14,127.234033,-1.664797e-09,-0.329029
12198,45315,1,170087,4.240457e+14,127.234033,-2.923303e-09,-0.329029
12199,45380,1,154431,4.240457e+14,127.234033,-2.960223e-09,-0.329029
12200,45356,1,556222,4.240457e+14,127.234033,-2.012705e-09,-0.329029
12201,45377,1,445024,4.240457e+14,127.234033,-2.274936e-09,-0.329029
12202,60145,1,81349,4.240457e+14,127.234033,-3.132568e-09,-0.329029
12203,60143,1,502259,4.240457e+14,127.234033,-2.139963e-09,-0.329029
12204,77447,1,435023,4.240457e+14,127.234033,-2.298521e-09,-0.329029
12205,60142,1,1120236,4.240457e+14,127.234033,-6.826271e-10,-0.329029
12206,45363,1,59732,4.240457e+14,127.234033,-3.183546e-09,-0.329029
12207,54632,1,27932,4.240457e+14,127.234033,-3.258538e-09,-0.329029
12208,45318,1,141884,4.240457e+14,127.234033,-2.989812e-09,-0.329029
12209,45335,1,192133,4.240457e+14,127.234033,-2.871313e-09,-0.329029
12210,60135,1,207703,4.240457e+14,127.234033,-2.834595e-09,-0.329029
12211,2833,1,17581,4.240457e+14,127.234033,-3.282948e-09,-0.329029
12212,77575,1,307740,4.240457e+14,127.234033,-2.598685e-09,-0.329029
12213,15031,1,11711,4.240457e+14,127.234033,-3.296791e-09,-0.329029
12214,84337,1,260734,4.240457e+14,127.234033,-2.709536e-09,-0.329029

In [169]:
r = (1/12215-1)*(df_f2['z score_I']*df_f2['z score_C']).sum()
r

6.930699527680761e-07

In [170]:
correlation_coefficient = 0.0000006930699527680761